name: Lint and Formatting checks

on:
  push:
    branches: [main]
  pull_request:

jobs:
  build-wasm:
    name: Build wasm
    runs-on: ubuntu-latest
    env:
      CARGO_TERM_COLOR: always

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
      - uses: dtolnay/rust-toolchain@stable
      - uses: jetli/wasm-pack-action@0d096b08b4e5a7de8c28de67e11e945404e9eefa # v0.4.0

      - name: Build wasm
        run: wasm-pack build wasm --target web --out-dir pkg

      - uses: actions/cache/save@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: wasm/pkg
          key: wasm-pkg-${{ hashFiles('wasm/src/**', 'wasm/Cargo.toml', 'wasm/Cargo.lock') }}

  rust:
    name: Rust checks
    runs-on: ubuntu-latest
    needs: build-wasm
    env:
      CARGO_TERM_COLOR: always
    defaults:
      run:
        working-directory: wasm

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt, clippy

      - name: Check formatting
        run: cargo fmt --check

      - name: Clippy
        run: cargo clippy -- -D warnings

  frontend:
    name: Frontend lint & format
    runs-on: ubuntu-latest
    needs: build-wasm

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - uses: actions/cache/restore@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: wasm/pkg
          key: wasm-pkg-${{ hashFiles('wasm/src/**', 'wasm/Cargo.toml', 'wasm/Cargo.lock') }}

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4

      - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22
          cache: pnpm

      - run: pnpm install --frozen-lockfile

      - name: Check formatting
        run: pnpm format:check

      - name: Lint
        run: pnpm lint

      - name: Check
        run: pnpm check
